h1 {
    color: red;
    background-color: cyan;
}
.goodbye {
    color: blue;
}
#hello {
    color: green;
}
.yellow {
    color: yellow;
}
.red-background {
    background-color: red;
}
p {
    color: blue;
}
strong {
    color: yellow;
}
em {
    color: red;
}
#example {
    color: green;
}